@{
    ViewData["Title"] = "DashBoard";
}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4"><b>Hello, Admin!</b></h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> houses. <br />You can <b>rent</b> and <b>leave</b> the free ones, too!
    </p>
    <p class="lead mt-1"> You can also see <b>all users and agents</b> and <b>all rents</b> in the system. </p>
</div>