@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
   
    <h4>Power's Gym is located in the center of the city of Kazanlak.
        Our working hours are every day from 7 am to 11 pm. In our gym you can find a variety of
        fruit, supplements and protein bars. You can also buy a monthly card that meets your requirements.
        For people who bought a fitness card, we provide free access to diets and workout plans.
        For us, the client is king and we do everything in our power to make him feel in the right place.</h4>


</div>

