@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1 class="display-4">Power's Gym</h1>
    <p>The perfect place for your muscle development.</p>
    <img class="home-page-image" src="~/img/Fitness photo.webp" style="width: 80vh"  />
</div>
